@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
/************************************Variables Definidas para la página**********************/
.grid_template-1 {
  display: grid;
  justify-items: center;
  align-items: center;
}

.grid_template-2 {
  display: grid;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**************************************** Estilos Generales De La Página  ****************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: "Comfortaa";
  color: #1c2c35;
  background-color: #FBFEF9;
  line-height: 1.75em;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "header header header" "main main main" "sobreNos sobreNos sobreNos" "cajaSor cajaSor cajaSor" "eventos eventos eventos" "clientes clientes clientes" "footer footer footer";
}
body header {
  grid-area: header;
}
body main {
  grid-area: main;
  height: 70vh;
}

a {
  text-decoration: none;
  color: #1c2c35;
  font-size: 0.95em;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  color: #FF3524;
}

strong {
  color: #FF3524;
}

/**************************************** Componente Nav  ****************************************/
.header {
  position: sticky;
  top: 0;
  background-color: #FBFEF9;
  width: 100%;
  padding: 0 2em 0.5em 2em;
  z-index: 2;
}
.header .header__Nav__Home {
  display: block;
  max-width: 150px;
  height: auto;
}
.header .header__Nav__Ul li {
  margin: 0 1em;
}
.header .header__Nav__Ul li a {
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}
.header .header__Nav__Ul li a:hover {
  color: #FF3524;
  text-decoration: underline;
}

/**************************************** Componente Slide  ****************************************/
.slide {
  display: flex;
  height: 100%;
  overflow: hidden;
  align-items: center;
  margin-bottom: 2.5em;
}

.slide__Cont {
  max-width: 100%;
  flex: 1 0 100%;
  animation: slide 15s infinite;
}
@keyframes slide {
  0%, 10% {
    transform: translateX(0);
  }
  20%, 30% {
    transform: translateX(-100%);
  }
  40%, 50% {
    transform: translateX(-200%);
  }
  60%, 70% {
    transform: translateX(-300%);
  }
  80%, 90% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}

/**************************************** Componente Cards  ****************************************/
.cajaSor__Cont__Card {
  background-color: #FBFEF9;
  border-radius: 1em;
  border: 2px solid #1c2c35;
  color: #1c2c35;
  overflow: hidden;
  gap: 2em;
}
.cajaSor__Cont__Card img {
  height: 200px;
  width: auto;
}
.cajaSor__Cont__Card .card-body h5 {
  color: #FF3524;
  margin-bottom: 1em;
}
.cajaSor__Cont__Card .card-body p {
  margin-bottom: 1.5em;
}
.cajaSor__Cont__Card .cajaSor__Cont__Card__Boton {
  width: auto;
  color: #FBFEF9;
  background-color: #1c2c35;
  transition: 0.5s ease-out;
}
.cajaSor__Cont__Card .cajaSor__Cont__Card__Boton:hover {
  border: 1px solid #1c2c35;
  background-color: #FBFEF9;
  color: #1c2c35;
}

.clientes__Card {
  width: 100%;
  max-height: 50%;
  display: flex;
  padding: 4em 0 2em 0;
  gap: 5em;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #1c2c35;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFF1F0;
}
.clientes__Card .clientes__Card__IMG {
  width: 30%;
}
.clientes__Card .clientes__Card__Texto {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 0 2em 0 0;
  gap: 2em;
  justify-content: space-between;
}
.clientes__Card .clientes__Card__Texto :nth-child(1) {
  border-bottom: 2px solid #1c2c35;
  color: #1c2c35;
  line-height: 2em;
}

/**************************************** Componente Footer  ****************************************/
footer {
  grid-area: footer;
  background-color: #1c2c35;
  color: #FBFEF9;
  padding: 2.5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
  justify-content: center;
  align-items: center;
}
footer strong {
  color: #FBFEF9;
}
footer :nth-child(1) {
  width: 150px;
  grid-column: 1/3;
}
footer :nth-child(2) {
  width: 42px;
  grid-column: 9;
  justify-self: center;
}
footer :nth-child(3) {
  width: 100%;
  grid-row: 2;
  grid-column: 1/5;
}
footer :nth-child(4) {
  width: 42px;
  grid-column: 10;
  justify-self: center;
}
footer :nth-child(5) {
  width: 42px;
  grid-column: 11;
  justify-self: center;
}
footer :nth-child(6) {
  width: 42px;
  grid-column: 12;
  justify-self: center;
}
footer :last-child {
  grid-row: 2;
  grid-column: 9/13;
  text-align: center;
}

/**************************************** Index Sección Sobre Nosotros ****************************************/
.sobreNos {
  grid-area: sobreNos;
  width: 100%;
  margin: 2.5em 0;
  border: solid #FF3524;
  border-width: 2px 0;
  padding: 2em 0;
}
.sobreNos .sobreNos__Video {
  width: auto;
  display: flex;
  align-items: center;
}
.sobreNos .sobreNos__Video iframe {
  width: 480px;
  aspect-ratio: 16/9;
}
.sobreNos .sobreNos__Texto {
  display: flex;
  width: 480px;
  flex-direction: column;
  justify-content: space-around;
  gap: 3em;
}
.sobreNos .sobreNos__Texto p {
  font-size: 1.25em;
}

/**************************************** Index Sección Cajas Sorpresa  ****************************************/
.cajaSor {
  grid-area: cajaSor;
  width: 100%;
  margin: 2.5em 0;
  padding: 2em 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  position: relative;
}
.cajaSor .cajaSor__Cont {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  justify-content: center;
  justify-items: center;
}

.cajaSor__BG {
  background-color: #FFC2BD;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 50vh;
  z-index: -1;
}

.cajaSor__Boton {
  width: 20em;
  height: 3em;
  padding: 0.5em 0.5em;
  font-weight: 700;
  font-size: 1.25em;
  background-color: #1c2c35;
  border: none;
  border-radius: 1em;
  transition: 0.5s;
}
.cajaSor__Boton a {
  width: 100%;
  height: 100%;
  color: #FBFEF9;
}
.cajaSor__Boton:hover {
  background-color: #FBFEF9;
  border: 1px solid #1c2c35;
}
.cajaSor__Boton:hover a {
  color: #1c2c35;
}

/**************************************** Index Sección Eventos  ****************************************/
.eventos {
  grid-area: eventos;
  width: 100%;
  height: auto;
  margin: 2.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  border: solid #FF3524;
  border-width: 2px 0;
}

.enventos__Texto {
  display: flex;
  flex-direction: column;
  padding: 0 2.7em;
  gap: 5em;
}
.enventos__Texto .enventos__Texto__Parrafo {
  font-size: 1.25em;
}

/**************************************** Index Sección Clientes  ****************************************/
.clientes {
  grid-area: clientes;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 2.5em 0;
}

.clientes__Cont {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  justify-items: center;
  align-items: center;
  padding: 0 2.5em;
}

/**************************************** Página Cajas Sorpesa ****************************************/
.pag__Cajasor {
  max-width: 100%;
  height: auto;
  margin: 2.5em;
  padding: 2em 0;
  display: grid;
  grid-template-areas: "navP producto producto" "navP producto producto" "navP producto producto";
  grid-template-columns: 20% auto auto;
  gap: 2em;
}

.pag__Cajasor__Nav {
  grid-area: navP;
  background-color: #FFF1F0;
  justify-self: center;
  width: 100%;
  padding: 2.5em;
  border-right: 2px solid #1c2c35;
  display: flex;
  flex-direction: column;
}
.pag__Cajasor__Nav .pag__Cajasor__Nav__Cabeza {
  font-size: 2em;
  text-align: center;
  border-bottom: 2px solid #1c2c35;
  line-height: 1.5em;
  margin: 0 0 2em 0;
}
.pag__Cajasor__Nav .pag__Cajasor__Nav__Cabeza .pag__Cajasor__Nav__Cabeza strong {
  color: #1c2c35;
}
.pag__Cajasor__Nav .pag__Cajasor__Nav__Lista {
  list-style: none;
  padding: 0;
  font-size: 1.25em;
  line-height: 2em;
}
.pag__Cajasor__Nav .pag__Cajasor__Nav__Lista li:hover a {
  color: #FF3524;
  text-decoration: underline;
}

.pag__Cajasor__Contenido {
  grid-area: producto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  justify-items: center;
}

/**************************************** Página Eventos ****************************************/
.pag__Eventos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 2em 0;
  padding: 0 2.5em;
  gap: 2.5em;
  justify-items: center;
  align-items: center;
  line-height: 2em;
}
.pag__Eventos .pag__Eventos__Texto {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  gap: 5em;
  padding-right: 2em;
}
.pag__Eventos .pag__Eventos__Texto p {
  font-size: 1.3em;
  line-height: 1.5em;
}
.pag__Eventos .pag__Eventos__Form {
  display: flex;
  flex-direction: column;
  gap: 2.75em;
  border-left: 2px solid #FF3524;
  padding-left: 2em;
}
.pag__Eventos .pag__Eventos__Form form {
  display: flex;
  flex-direction: column;
  gap: 1.05em;
}
.pag__Eventos .pag__Eventos__Form form legend {
  font-size: 1em;
  line-height: 1.5em;
}
.pag__Eventos .pag__Eventos__Form form input {
  border: none;
  width: 50%;
  border-bottom: 2px solid #1c2c35;
  background-color: #FBFEF9;
}
.pag__Eventos .pag__Eventos__Form form select, .pag__Eventos .pag__Eventos__Form form button {
  background-color: #1c2c35;
  color: #FBFEF9;
  border: none;
  width: 150px;
  height: 35px;
  padding: 5px;
  border-radius: 1em;
}
.pag__Eventos .pag__Eventos__Form form textarea {
  border: none;
  background-color: #FBFEF9;
  border-right: 2px solid #1c2c35;
  border-bottom: 2px solid #1c2c35;
}

.pag__Eventos__Slide {
  width: 98.9vw;
  height: 50vh;
  overflow: hidden;
  display: flex;
  position: relative;
  margin-top: 2.5em;
}
.pag__Eventos__Slide :nth-child(2) {
  position: relative;
  top: -70%;
}
.pag__Eventos__Slide :nth-child(3) {
  position: relative;
  top: -65%;
}
.pag__Eventos__Slide :nth-child(4) {
  position: relative;
  top: -40%;
}
.pag__Eventos__Slide :nth-child(5) {
  position: relative;
  top: -40%;
}

/**************************************** Página Sobre Nosotros ****************************************/
.pag__SobreNos {
  display: grid;
  grid-template-areas: "sobreNos sobreNos NosIMG" "sobreNos sobreNos NosIMG" "sobreNos sobreNos NosIMG";
  margin: 2.5em 0;
  max-width: 100%;
  padding: 0 2.5em;
  gap: 2em;
  height: auto;
  justify-content: center;
  align-items: center;
}
.pag__SobreNos .pag__SobreNos__Texto {
  grid-area: sobreNos;
}
.pag__SobreNos .pag__SobreNos__Texto .pag__SobreNos__Texto__Art {
  display: flex;
  flex-direction: column;
  gap: 6em;
}
.pag__SobreNos .pag__SobreNos__Texto .pag__SobreNos__Texto__Art p {
  font-size: 1.5em;
  line-height: 1.5em;
}
.pag__SobreNos .pag__SobreNos__Img {
  grid-area: NosIMG;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-left: 2px solid #FF3524;
  padding-left: 2em;
}

/**************************************** Página Sobre Nosotros ****************************************/
.pag__NuestrosClientes {
  width: 100%;
  height: auto;
  margin: 2.5em 0;
  padding: 0 2.5em;
}
.pag__NuestrosClientes .pag__NuestrosClientes__Cont {
  display: flex;
  flex-direction: column;
  gap: 6em;
  justify-content: center;
  align-items: center;
}
.pag__NuestrosClientes .pag__NuestrosClientes__Cont .pag__NuestrosClientes__Cont__Text {
  font-size: 1.25em;
  line-height: 1.5em;
  max-width: 100%;
}
.pag__NuestrosClientes .pag__NuestrosClientes__Cont .pag__NuestrosClientes__Cont__Text .pag__NuestrosClientes__Cont__Text__IMG--1 {
  width: 30%;
  float: left;
  margin: 0 2em 2em 0em;
}
.pag__NuestrosClientes .pag__NuestrosClientes__Cont .pag__NuestrosClientes__Cont__Text .pag__NuestrosClientes__Cont__Text__IMG--2 {
  width: 40%;
  float: right;
  margin: 2em 0 0 2em;
}

/*# sourceMappingURL=style.css.map */
