/**************************************** Página Cajas Sorpesa ****************************************/
.pag__Cajasor{
    max-width: map-get($espacio, tamañoMax);
    height: auto;
    margin: map-get($espacio, marginPadding);
    padding: 2em 0;
    display: grid;
    grid-template-areas: 
    "navP producto producto"
    "navP producto producto"
    "navP producto producto";
    grid-template-columns: 20% auto auto;
    gap: map-get($espacio, gap);
}
.pag__Cajasor__Nav{
    grid-area: navP;
    background-color: #FFF1F0;
    justify-self: center;
    width: map-get($espacio, tamañoMax);
    padding: map-get($espacio, marginPadding);
    border-right: 2px solid map-get($colores , colorPrimario);
    display: flex;
    flex-direction: column;
    .pag__Cajasor__Nav__Cabeza{
        font-size: 2em;
        text-align: center;
        border-bottom: 2px solid map-get($colores , colorPrimario);
        line-height: 1.5em;
        margin: 0 0 2em 0;
        .pag__Cajasor__Nav__Cabeza strong{
            color: map-get($colores , colorPrimario);
        }
    }
    .pag__Cajasor__Nav__Lista{
        list-style: none;
        padding: 0;
        font-size: 1.25em;
        line-height: 2em;
        li{
            &:hover a{
                color: map-get($colores, colorTerciario);
                text-decoration: underline;
            }
        }
    }
}
.pag__Cajasor__Contenido{
    grid-area: producto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: map-get($espacio, gap);
    justify-items: center;
}