/**************************************** Página Eventos ****************************************/
.pag__Eventos{
    @extend %grid_template-1;
    grid-template-columns: repeat(3, 1fr);
    width: map-get($espacio, tamañoMax);
    margin: 2em 0;
    padding: 0 map-get($espacio, marginPadding);
    gap: map-get($espacio, Gap) + 0.5em;
    line-height: 2em;
    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        text-align: left;
    }
    h1, h4{
        @include tablet {
            text-align: center;
        }
    }
    @include mobile {
        grid-template-columns: 1fr;
        height: auto;
        text-align: left;
    }
    .pag__Eventos__Texto{
        @include display(flex, column, auto, auto);
        grid-column: 1/3;
        gap: 5em;
        padding-right: 2em;
        @include tablet {
            grid-column: 1/3;
            padding-right: 0;
            border-bottom: 2px solid map-get($colores, colorTerciario);
        }
        @include mobile {
            grid-column: 1 / 2;
        }
        p{
            font-size: 1.3em;
            line-height: 1.5em;
        }
    }
    .pag__Eventos__Form{
        @include display (flex, column, auto, auto);
        gap: 2.75em;
        border-left: 2px solid map-get($colores, colorTerciario);
        padding-left: 2em;
        @include tablet {
            grid-column: 1 / 3;
            align-items: center;
            padding: 0;
            border: none;
        }
        @include mobile {
            grid-column: 1 / 2;
        }
        form{
            @include display (flex, column, auto, auto);
            gap: 1.05em;
            @include tablet {
                align-items: left;
            }
            legend{
                font-size: 1em;
                line-height: 1.5em;
            }
            label {
                @include tablet {
                    width: 100%;
                }
            }
            input{
                border: none;
                width: 50%;
                border-bottom: 2px solid map-get($colores , colorPrimario);
                background-color: map-get($colores, colorSecundario);
            }
            select, button{
                background-color: map-get($colores , colorPrimario);
                color: map-get($colores, colorSecundario);
                border: none;
                width: 150px;
                height: 42px;
                padding: 10px;
                border-radius: 1em;
            }
            textarea{
                border: none;
                background-color: map-get($colores, colorSecundario);
                border-right: 2px solid map-get($colores , colorPrimario);
                border-bottom: 2px solid map-get($colores , colorPrimario);
                @include tablet {
                    width: 80%;
                    border-bottom: 2px solid #1C2C35;
                }
            }
        }
    }
}
.pag__Eventos__Slide{
    width: 98.9vw;
    height: 50vh;
    overflow: hidden;
    display: flex;
    position: relative;
    margin-top: map-get($espacio, marginPadding);
    @include mobile {
        height: auto;
        width: 100%;
        position: none;
    }
    :nth-child(2){
        position: relative;
        top: -70%;
        @include mobile {
            top: 0;
        }
    }
    :nth-child(3){
        position: relative;
        top: -65%;
        @include mobile {
            top: 0;
        }
    }
    :nth-child(4){
        position: relative;
        top: -40%;
        @include mobile {
            top: 0;
        }
    }
    :nth-child(5){
        position: relative;
        top: -40%;
        @include mobile {
            top: 0;
        }
    }
}
