/**************************************** Página Eventos ****************************************/
.pag__Eventos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: map-get($espacio, tamañoMax);
    margin: 2em 0;
    padding: 0 map-get($espacio, marginPadding);
    gap: map-get($espacio, Gap) + 0.5em;
    justify-items: center;
    align-items: center;
    line-height: 2em;
    .pag__Eventos__Texto{
        display: flex;
        flex-direction: column;
        grid-column: 1/3;
        gap: 5em;
        padding-right: 2em;
        p{
            font-size: 1.3em;
            line-height: 1.5em;
        }
    }
    .pag__Eventos__Form{
        display: flex;
        flex-direction: column;
        gap: 2.75em;
        border-left: 2px solid map-get($colores, colorTerciario);
        padding-left: 2em;
        form{
            display: flex;
            flex-direction: column;
            gap: 1.05em;
            legend{
                font-size: 1em;
                line-height: 1.5em;
            }
            input{
                border: none;
                width: 50%;
                border-bottom: 2px solid map-get($colores , colorPrimario);
                background-color: map-get($colores, colorSecundario);
            }
            select, button{
                background-color: map-get($colores , colorPrimario);
                color: map-get($colores, colorSecundario);
                border: none;
                width: 150px;
                height: 35px;
                padding: 5px;
                border-radius: 1em;
            }
            textarea{
                border: none;
                background-color: map-get($colores, colorSecundario);
                border-right: 2px solid map-get($colores , colorPrimario);
                border-bottom: 2px solid map-get($colores , colorPrimario);
            }
        }
    }
}
.pag__Eventos__Slide{
    width: 98.9vw;
    height: 50vh;
    overflow: hidden;
    display: flex;
    position: relative;
    margin-top: map-get($espacio, marginPadding);
    :nth-child(2){
        position: relative;
        top: -70%;
    }
    :nth-child(3){
        position: relative;
        top: -65%;
    }
    :nth-child(4){
        position: relative;
        top: -40%;
    }
    :nth-child(5){
        position: relative;
        top: -40%;
    }
}
