/**************************************** Index Sección Sobre Nosotros ****************************************/
.sobreNos{
    grid-area: sobreNos;
    width: map-get($espacio, tamañoMax);
    margin: map-get($espacio, marginPadding) 0;
    border: solid map-get($colores, colorTerciario);
    border-width: 2px 0;
    padding: 2em 0;
    .sobreNos__Video{
        width: auto;
        @include display (flex, auto, auto, center);
        iframe{
            width: 480px;
            aspect-ratio: 16/ 9;
            @include tablet {
                width: 460px;
            }
            @include mobile {
                width: 325px;
                justify-self: center;
            }
        }
    }
    .sobreNos__Texto{
        @include display (flex, column, space-around, auto);
        width: 480px;
        gap: 3em;
        p{
            font-size: 1.25em;
        }
        @include tablet {
            text-align: center;
            margin: 2em 0 0 0;
            gap: 2em;
        }
        @include mobile {
            width: 100%;
            margin-bottom: 0;
            gap: 2em;
            padding: 0 2em;
        }
    }
}
/**************************************** Index Sección Cajas Sorpresa  ****************************************/
.cajaSor{
    grid-area: cajaSor;
    width: map-get($espacio, tamañoMax);
    margin: map-get($espacio, marginPadding) 0;
    padding: 2em 2em;
    @include display (flex, column, space-between, center);
    flex-wrap: wrap;
    gap: 4em;
    position: relative;
    .cajaSor__Cont{
        width: map-get($espacio, tamañoMax);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        justify-content: center;
        justify-items: center;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        @include mobile {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
        }
    }
}
.cajaSor__BG{
    background-color: #FFC2BD;
    width: map-get($espacio, tamañoMax);
    height: 250px;
    position: absolute;
    top: 50vh;
    z-index: -1;
    @include tablet {
        height: 600px;
        top: 28em;
    }
    @include mobile {
        height: 1200px;
        top: 20%;
    }
}
.cajaSor__Boton{
    width: 20em;
    height: 3em;
    padding: 0.5em 0.5em;
    font-weight: 700;
    font-size: 1.25em;
    background-color: map-get($colores , colorPrimario);
    border: none;
    border-radius: 1em;
    transition: 0.5s;
    @include mobile {
        width: 10em;
        height: 5em;
    }
    a{
        width: map-get($espacio, tamañoMax);
        height: map-get($espacio, tamañoMax);
        color: map-get($colores, colorSecundario);
    }
    &:hover{
        background-color: map-get($colores, colorSecundario);
        border: 1px solid map-get($colores , colorPrimario);
        a{
            color: map-get($colores , colorPrimario);
        }
    }
}
/**************************************** Index Sección Eventos  ****************************************/
.eventos{
    grid-area: eventos;
    width: map-get($espacio, tamañoMax);
    height: auto;
    margin: map-get($espacio, marginPadding) 0;
    @extend %flex_tamplate-1;
    flex-direction: column;
    gap: 3em;
    border: solid map-get($colores, colorTerciario);
    border-width: 2px 0;
    @include tablet {
        margin: 2.5em 0;
        padding: 2em 0;
    }
}
.enventos__Texto{
    display: flex;
    flex-direction: column;
    padding: 0 2.7em;
    gap: 5em;
    .enventos__Texto__Parrafo{
        font-size: 1.25em;
        @include mobile {
            padding: 0 2em;
        }
    }
    @include tablet {
        text-align: center;
    }
}
.eventos__Img{
    @include tablet {
        display: none;
    }
}
/**************************************** Index Sección Clientes  ****************************************/
.clientes{
    grid-area: clientes;
    width: map-get($espacio, tamañoMax);
    @extend %flex_column;
    gap: map-get($espacio, Gap);
    margin: map-get($espacio, marginPadding) 0;
    @include mobile {
        text-align: center;
        padding: 0 1em;
    }
}
.clientes__Cont{
    width: map-get($espacio, tamañoMax);
    @extend %grid_template-1;
    grid-template-columns: repeat(2, 1fr);
    gap: map-get($espacio, Gap);
    padding: 0 map-get($espacio, marginPadding);
    @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 1em;
    }
}