/**************************************** Página Sobre Nosotros ****************************************/
.pag__NuestrosClientes{
    width: map-get($espacio, tamañoMax);
    height: auto;
    margin: map-get($espacio, marginPadding) 0;
    padding: 0 map-get($espacio, marginPadding);
    .pag__NuestrosClientes__Cont{
        @extend %flex_column;
        gap: 6em;
        @include mobile {
            text-align: center;
        }
        h2{
            @include tablet {
                text-align: center;
            }
        }
        .pag__NuestrosClientes__Cont__Text{
            font-size: 1.25em;
            line-height: 1.5em;
            max-width: map-get($espacio, tamañoMax);
            .pag__NuestrosClientes__Cont__Text__IMG--1{
                width: 30%;
                float: left;
                margin: 0 2em 2em 0em;
                @include tablet {
                    width: 40%;
                }
                @include mobile {
                    float: none;
                    width: 100%;
                    margin: 0 0 2.5em 0;
                }
            }
            .pag__NuestrosClientes__Cont__Text__IMG--2{
                width: 40%;
                float: right;
                margin: 2em 0 0 2em;
                @include tablet {
                    margin: 2em 0 2em 2em;
                }
                @include mobile {
                    float: none;
                    width: 100%;
                    margin: 2.5em 0 2.5em 0;
                }
            }
        }
    }
}