/**************************************** Página Sobre Nosotros ****************************************/
.pag__SobreNos {
    display: grid;
    grid-template-areas: 
    "sobreNos sobreNos NosIMG"
    "sobreNos sobreNos NosIMG"
    "sobreNos sobreNos NosIMG";
    margin: map-get($espacio, marginPadding) 0;
    max-width: map-get($espacio, tamañoMax);
    padding: 0 map-get($espacio, marginPadding);
    gap: map-get($espacio, gap);
    height: auto;
    justify-content: center;
    align-items: center;
    .pag__SobreNos__Texto{
        grid-area: sobreNos;
        .pag__SobreNos__Texto__Art{
            display: flex;
            flex-direction: column;
            gap: 6em;
            p{
                font-size: 1.5em;
                line-height: 1.5em;
            }
        }
    }
    .pag__SobreNos__Img{
        grid-area: NosIMG;
        display: flex;
        flex-direction: column;
        gap: map-get($espacio, gap);
        border-left: 2px solid map-get($colores, colorTerciario);
        padding-left: 2em;
    }
}