/**************************************** Página Sobre Nosotros ****************************************/
.pag__SobreNos {
    display: grid;
    grid-template-areas: 
    "sobreNos sobreNos NosIMG"
    "sobreNos sobreNos NosIMG"
    "sobreNos sobreNos NosIMG";
    margin: 2.5em 0;
    max-width: 100%;
    padding: 0 2.5em;
    gap: 2em;
    height: auto;
    justify-content: center;
    align-items: center;
    .pag__SobreNos__Texto{
        grid-area: sobreNos;
        .pag__SobreNos__Texto__Art{
            display: flex;
            flex-direction: column;
            gap: 6em;
            p{
                font-size: 1.5em;
                line-height: 1.5em;
            }
        }
    }
    .pag__SobreNos__Img{
        grid-area: NosIMG;
        display: flex;
        flex-direction: column;
        gap: 2em;
        border-left: 2px solid $colorTerciario;
        padding-left: 2em;
    }
}