$colores: (
    colorPrimario: $colorPrimario,
    colorSecundario: $colorSecundario,
    colorTerciario: $colorTerciario,
);
$espacio: (
    tamañoMax: $anchoMax,
    Gap: $espacioEntreElementos,
    marginPadding: $espacioInterno,
);