/************************************Variables Definidas para la página**********************/ 
$colorPrimario: #1c2c35;
$colorSecundario: #FBFEF9;
$colorTerciario: #FF3524;

$anchoMax: 100%;
$espacioEntreElementos: 2em;
$espacioInterno: 2.5em;