/**************************************** Estilos Generales De La Página  ****************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: map-get($espacio, tamañoMax);
    font-family: "Comfortaa";
    color: map-get($colores , colorPrimario);
    background-color: map-get($colores, colorSecundario);
    line-height: 1.75em;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "sobreNos sobreNos sobreNos"
    "cajaSor cajaSor cajaSor"
    "eventos eventos eventos"
    "clientes clientes clientes"
    "footer footer footer";
    overflow-x: hidden;
    justify-content: center;
    @include tablet {
        grid-template-areas:
        "header header"
        "main main"
        "sobreNos sobreNos"
        "cajaSor cajaSor"
        "eventos eventos"
        "clientes clientes"
        "footer footer";
    }
    @include mobile {
        max-width: 100vw;
        grid-template-areas: 
        "header"
        "main"
        "sobreNos"
        "cajaSor"
        "eventos"
        "clientes"
        "footer";
        padding: 0;
    }
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
        height: 70vh;
        @include tablet{
            padding: 0;
            height: 75vh;
        }
        @include mobile{
            width: 100vw;
            padding: 0;
            height: 30vh;
        }
    }
}
a{
    text-decoration: none;
    color: map-get($colores , colorPrimario);
    font-size: 0.95em;
}
img{
    max-width: map-get($espacio, tamañoMax);
    height: auto;
}
h1, h2, h4{
    color: map-get($colores, colorTerciario);
}
strong{
    color: map-get($colores, colorTerciario);
}