/**************************************** Estilos Generales De La Página  ****************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: map-get($espacio, tamañoMax);
    font-family: "Comfortaa";
    color: map-get($colores , colorPrimario);
    background-color: map-get($colores, colorSecundario);
    line-height: 1.75em;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "sobreNos sobreNos sobreNos"
    "cajaSor cajaSor cajaSor"
    "eventos eventos eventos"
    "clientes clientes clientes"
    "footer footer footer";
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
        height: 70vh;
    }
}
a{
    text-decoration: none;
    color: map-get($colores , colorPrimario);
    font-size: 0.95em;
}
img{
    max-width: map-get($espacio, tamañoMax);
    height: auto;
}
h2{
    color: map-get($colores, colorTerciario);
}
strong{
    color: map-get($colores, colorTerciario);
}