/**************************************** Componente Cards  ****************************************/
.cajaSor__Cont__Card{
    background-color: map-get($colores, colorSecundario);
    border-radius: 1em;
    border: 2px solid map-get($colores , colorPrimario);
    color: map-get($colores , colorPrimario);
    overflow: hidden;
    gap: 2em;
    img{
        height: 200px;
        width: auto;
    }
    .card-body{
        h5{
            color: map-get($colores, colorTerciario);
            margin-bottom: 1em;
        }
        p{
            margin-bottom: 1.5em;
        }
    }
    .cajaSor__Cont__Card__Boton{
        width: auto;
        color: map-get($colores, colorSecundario);
        background-color: map-get($colores , colorPrimario);
        transition: 0.5s ease-out;
        &:hover{
            border: 1px solid map-get($colores , colorPrimario);
            background-color: map-get($colores, colorSecundario);
            color: map-get($colores , colorPrimario);
        }
    }
}
.clientes__Card{
    width: 100%;
    max-height: 50%;
    display: flex;
    padding: 5em 0 2em 0;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    border: 2px solid map-get($colores , colorPrimario);
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFF1F0;
    .clientes__Card__IMG{
        width: 30%;
    }
    .clientes__Card__Texto{
        display: flex;
        width: 70%;
        flex-direction: column;
        padding: 0 2em 0 0;
        gap: 2em;
        justify-content: space-between;
        :nth-child(1){
            border-bottom: 2px solid map-get($colores , colorPrimario);
            color: map-get($colores , colorPrimario);
            line-height: 2em;
        }
    }
}
