/**************************************** Componente Cards  ****************************************/
.cajaSor__Cont__Card{
    background-color: map-get($colores, colorSecundario);
    border-radius: 1em;
    border: 2px solid map-get($colores , colorPrimario);
    color: map-get($colores , colorPrimario);
    overflow: hidden;
    gap: map-get($espacio, Gap);
    img{
        height: 200px;
        width: auto;
    }
    .card-body{
        h5{
            color: map-get($colores, colorTerciario);
            margin-bottom: 1em;
        }
        p{
            margin-bottom: 1.5em;
        }
    }
    .cajaSor__Cont__Card__Boton{
        width: auto;
        color: map-get($colores, colorSecundario);
        background-color: map-get($colores , colorPrimario);
        transition: 0.5s ease-out;
        &:hover{
            border: 1px solid map-get($colores , colorPrimario);
            background-color: map-get($colores, colorSecundario);
            color: map-get($colores , colorPrimario);
        }
    }
}
.clientes__Card{
    width: map-get($espacio, tamañoMax);
    max-height: 50%;
    @extend %flex_tamplate-1;
    padding: 4em 0 4em 0;
    gap: map-get($espacio, Gap) + 3em;
    border: 2px solid map-get($colores , colorPrimario);
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFF1F0;
    .clientes__Card__IMG{
        width: 30%;
    }
    .clientes__Card__Texto{
        @include display (flex, column, space-between, auto);
        width: 70%;
        padding: 0 2em 0 0;
        gap: map-get($espacio, Gap);
        :nth-child(1){
            border-bottom: 2px solid map-get($colores , colorPrimario);
            color: map-get($colores , colorPrimario);
            line-height: map-get($espacio, Gap);
        }
    }
}
