/**************************************** Componente Nav  ****************************************/
.header{
    position: sticky;
    top: 0;
    background-color: map-get($colores, colorSecundario);
    width: map-get($espacio, tamañoMax);
    padding: 0 2em 0.5em 2em;
    z-index: 2;
    .header__Nav__Home{
        display: block;
        max-width: 150px;
        height: auto;
    }
    .header__Nav__Ul{
        li{
            margin: 0 1em;
            a{
                transition-duration: 0.25s;
                transition-timing-function: ease-out;
                &:hover{
                    color: map-get($colores, colorTerciario);
                    text-decoration: underline;
                }
            }
        }
    }
}