/**************************************** Componente Slide  ****************************************/
.slide{
    @include display (flex, auto, auto, center);
    height: map-get($espacio, tamañoMax);
    overflow: hidden;
    margin-bottom: map-get($espacio, marginPadding);
    @include mobile {
        width: 100%;
    }
}
.slide__Cont{
    max-width: map-get($espacio, tamañoMax);
    flex: 1 0 map-get($espacio, tamañoMax);
    animation: slide 15s infinite;
    @keyframes slide{
        0%, 10%{
            transform: translateX(0);
        }
        20%, 30%{
            transform: translateX(-100%);
        }
        40%, 50%{
            transform: translateX(-200%);
        }
        60%, 70%{
            transform: translateX(-300%);
        }
        80%, 90% {
            transform: translateX(-400%);
        }
        100%{
            transform: translateX(0);
        }
    }
}
